<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devkgm.app.board.product.ProductDAO">
	<select id="getList" resultMap="getListResult" parameterType="BoardPager">
		SELECT origin.*, pf.name as fileName
		FROM
		(
			SELECT ROWNUM AS R,  p.*
			FROM 
			(
				SELECT *
				FROM PRODUCT p
				ORDER BY ID DESC
			) p
		) origin
		LEFT JOIN PRODUCT_FILE pf 
		ON pf.PRODUCT_ID = origin.ID
		WHERE R BETWEEN #{startPage} AND #{lastPage}
	</select>
	<resultMap type="ProductDTO" id="getListResult">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="create_dt" column="CREATE_DT"/>
		<result column="RATE" property="rate"/>
		<result column="IS_SALE" property="is_sale"/>
		<result column="COUNTS" property="counts"/>
		<collection property="fileDTOs" javaType="List" ofType="ProductFileDTO">
			<result column="fileName" property="name"/>
		</collection>
	</resultMap>
	
	<select id="getDetail" resultMap="getDetailResult" parameterType="ProductDTO">
		SELECT  p.*, pf.NAME as fileName, pf.ORIGIN_NM
		FROM PRODUCT p
		LEFT JOIN PRODUCT_FILE pf 
		ON pf.PRODUCT_ID = p.ID 
		WHERE P.ID = #{id}
	</select>
	<resultMap type="ProductDTO" id="getDetailResult">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="content" column="CONTENT"/>
		<result property="create_dt" column="CREATE_DT"/>
		<result column="RATE" property="rate"/>
		<result column="IS_SALE" property="is_sale"/>
		<result column="COUNTS" property="counts"/>
		<collection property="fileDTOs" javaType="List" ofType="ProductFileDTO">
			<result column="fileName" property="name"/>
			<result column="ORIGIN_NM" property="origin_nm"/>
		</collection>
	</resultMap>
	<insert id="add" parameterType="ProductDTO">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT (ID,NAME,CONTENT,RATE,IS_SALE) VALUES (#{id}, #{name}, #{content}, #{rate}, #{is_sale})
	</insert>
	<insert id="addFile" parameterType="ProductFileDTO">
		INSERT INTO PRODUCT_FILE (ID, NAME,ORIGIN_NM, PRODUCT_ID) VALUES (PRODUCT_FILE_SEQ.NEXTVAL, #{name}, #{origin_nm}, #{product_id})
	</insert>
	
	<update id="update" parameterType="ProductDTO">
		UPDATE PRODUCT SET NAME=#{name},CONTENT=#{content},RATE=#{rate},IS_SALE=#{is_sale}
	</update>
	<delete id="deleteFile" parameterType="ProductFileDTO">
		DELETE FROM PRODUCT_FILE WHERE NAME = #{name}
	</delete>
	
	<select id="getTotalPage" resultType="Long">
		SELECT COUNT(*) FROM PRODUCT
	</select>
</mapper>