<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devkgm.app.board.product.ProductDAO">
	<select id="getList" resultType="ProductDTO" parameterType="BoardPager">
		SELECT * FROM
		(
			SELECT ROWNUM AS R,  P.*
			FROM 
			(
				SELECT *
				FROM PRODUCT P
				ORDER BY ID DESC
			) P
		)
		WHERE R BETWEEN #{startPage} AND #{lastPage}
	</select>
	
	<select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
		SELECT * FROM PRODUCT WHERE ID = #{id}
	</select>
	<insert id="add" parameterType="ProductDTO">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT (ID,NAME,CONTENT,RATE,IS_SALE) VALUES (#{id}, #{name}, #{content}, #{rate}, #{is_sale})
	</insert>
	<insert id="addFile" parameterType="ProductFileDTO">
		INSERT INTO PRODUCT_FILE (ID, NAME,ORIGIN_NM, PRODUCT_ID) VALUES (PRODUCT_FILE_SEQ.NEXTVAL, #{name}, #{origin_nm}, #{product_id})
	</insert>
	
	<select id="getTotalPage" resultType="Long">
		SELECT COUNT(*) FROM PRODUCT
	</select>
</mapper>