<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devkgm.app.wishlist.WishlistDAO">
    <insert id="doAdd" parameterType="AccountDTO">
        INSERT INTO WISHLIST VALUES (#{product_id}, #{member_id})
    </insert>
    <select id="getList" parameterType="MemberDTO" resultType="ProductDTO">
        SELECT *
        FROM WISHLIST w
        LEFT JOIN PRODUCT p
        ON w.PRODUCT_ID = p.ID
        WHERE w.MEMBER_ID = #{id}
    </select>
    <delete id="doDelete" parameterType="Map">
        DELETE FROM WISHLIST
        WHERE PRODUCT_ID IN
        <foreach collection="nums" item="i" open="(" close=")">
            #{i}
        </foreach>
        AND MEMBER_ID = #{member.id}
    </delete>
</mapper>